{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="col-12">{{ name }}</h1>
        <div class="col-12">
            {{ description }}
        </div>
    </div>
{% endblock %}
